<h1 class="text-center">Dashboard</h1>
<h4 class="border border-info text-center">Current number of products: <%= product_counter %></h4>
<h4 class="text-center border-info">Current number of categories: <%= category_counter %></h4>
